pipeline/PL_ForEach_BREAK_OUT.json
{
	"name": "PL_ForEach_BREAK_OUT",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set PipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM employees",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZURE_TABLES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZURESQL_FOR_EACH",
									"type": "DatasetReference",
									"parameters": {
										"EmployeeName": "@item().employee_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OUTPUT_FOR_EACH",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().employee_name, '_', '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().employee_name, 'Jane')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Break Out",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "MyAzureIR",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"body": {
												"value": "{“message”:”Cancelling the pipeline”}",
												"type": "Expression"
											},
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set PipelineRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@concat('https://management.azure.com/subscriptions/126c93ce-f0a6-493c-8991-cdcbd797366d/resourceGroups/njl-adf-practice/providers/Microsoft.DataFactory/factories/', pipeline().DataFactory, '/pipelineruns/', pipeline().RunId, '/cancel?api-version=2018-06-01')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Try-Else"
		},
		"annotations": []
	}
}