pipeline/PL_REGULAR_VARIABLE_ARRAY.json
{
	"name": "PL_REGULAR_VARIABLE_ARRAY",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "FirstUserProp",
						"value": "somepropertyValue"
					}
				],
				"typeProperties": {
					"variableName": "ListOfFiles",
					"value": {
						"value": "@activity('Lookup1').output.value[0].id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLES_SECOND_FOR_EACH",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "employees",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"ListOfFiles": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Variables"
		},
		"annotations": []
	}
}