pipeline/PL_VARIABLES.json
{
	"name": "PL_VARIABLES",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Count",
					"value": {
						"value": "@{activity('Lookup1').output.count}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLES_SECOND_FOR_EACH",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "employees",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Count": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Variables"
		},
		"annotations": []
	}
}